@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scrollbar-width: thin;
  scrollbar-color: white black;
  scroll-behavior: smooth;
  text-decoration: none;
  list-style-type: none;
  color: white;
}

*::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}

*::-webkit-scrollbar-track {
  background: black;
}

*::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 20px;
  border: 3px solid white;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: black;
}

::selection {
  background: #ffff00;
  color: #000;
}
